.tippy-box[data-theme~="light-yellow"] {
  color: #26323d;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: rgb(255, 242, 206);
}
.tippy-box[data-theme~="light-yellow"][data-placement^="top"]
  > .tippy-arrow:before {
  border-top-color: rgb(255, 242, 206);
}
.tippy-box[data-theme~="light-yellow"][data-placement^="bottom"]
  > .tippy-arrow:before {
  border-bottom-color: rgb(255, 242, 206);
}
.tippy-box[data-theme~="light-yellow"][data-placement^="left"]
  > .tippy-arrow:before {
  border-left-color: rgb(255, 242, 206);
}
.tippy-box[data-theme~="light-yellow"][data-placement^="right"]
  > .tippy-arrow:before {
  border-right-color: rgb(255, 242, 206);
}
.tippy-box[data-theme~="light-yellow"] > .tippy-backdrop {
  background-color: rgb(255, 242, 206);
}
.tippy-box[data-theme~="light-yellow"] > .tippy-svg-arrow {
  fill: rgb(255, 242, 206);
}
