@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700");

@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700");

@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");

/* @import url("/css/light.css");
@import url("/css/light-yellow.css"); */
/* @import url("/css/tippy.css"); */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  --color: #492607;
  background: #f5f5f5;
  color: var(--color);
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
}

p,
label,
.pali,
.lit,
.free {
  font-size: clamp(1.25rem, 2.3vw, 1.5rem);
  margin-bottom: 1rem;
}

.article-body > ul {
  font-size: clamp(1.25rem, 2.3vw, 1.5rem);
  list-style: none;
  margin-bottom: 1rem;
}

i {
  font-family: "Gentium Book Basic", serif;
  font-size: clamp(1.18rem, 1.9vw, 1.4rem);
}

.content-choice {
  font-size: clamp(1rem, 2.3vw, 1.4rem);
}

h1 {
  text-align: center;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  text-align: center;
  color: #0b788f;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.5;
  font-weight: 400;
  margin: 3em 0;
  /* margin-top: 9.5rem; */
  flex-basis: 90%;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  margin-top: 3rem;
  margin-bottom: 2em;
  letter-spacing: 5px;
  text-align: center;
  color: #0b788f;
  flex-basis: 90%;
}

#text > h2 {
  margin-top: 0;
}

#text > h1 {
  margin-bottom: 1rem;
}

h3 {
  font-weight: 400;
  text-transform: capitalize;
  font-size: clamp(1.2rem, 1.8vw, 1.5rem);
  margin-top: 3rem;
  margin-bottom: 2em;
  letter-spacing: 5px;
  text-align: center;
  color: #0b788f;
  flex-basis: 90%;
}

h4 {
  text-align: center;
  font-size: clamp(1.1rem, 1.75vw, 1.4rem);
  margin-top: 3rem;
  margin-bottom: 2em;
}

.references {
  position: relative;
  font-size: clamp(1.18rem, 1.8vw, 1.3rem);
  margin-top: 6rem;
}

.lit > h3 {
  margin-top: 0;
}

.pali > h2,
.pali > h3 {
  margin-bottom: 0;
  font-style: normal;
}

.references i {
  font-size: clamp(1.1rem, 1.7vw, 1.25rem);
}

.img-float-left {
  clear: right;
  float: left;
  margin: 10px;
  display: inline-block;
  max-width: 260px;
}

/* .img--cut {
  object-position: center;
} */

/* .img-wrapper {
  height: 400px;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
 
}
.img-wrapper > img {
  position: relative;
  display: block;
  height: 400%;
  width: auto;
} */

.references::before {
  content: "";
  display: block;
  /* position: absolute; */
  background: #4220037e;
  height: 1px;
  width: 30%;
  /* top: -2em;
  left: 50%; */
  margin: 0 auto 3em;
}

a {
  color: #0b788f;
  outline: 0;
}

section {
  position: relative;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  width: 80%;
  max-width: 1000px;
  margin: 50px auto;
  padding: 2rem;
  padding-bottom: 150px;
}

section > a.section-link {
  position: absolute;
  top: -5rem;
}

@media (max-width: 800px) {
  section {
    width: 95%;
    padding: 5%;
    padding-bottom: 150px;
    margin: 5% auto;
  }
  h1 {
    letter-spacing: 3px;
    line-height: 1;
    font-weight: 400;
    margin: 3rem 0;
    /* margin-top: 6rem; */
  }
}

/* navigation bar */

.navbar {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #003742;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  margin-top: 20px;
  padding-left: 2px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  font-family: "Gentium Book Basic", serif;
  font-size: 1.7rem;
  color: white;
  font-weight: 400;
  padding: 1.5rem;
}

.navbar-links li:hover,
.logo:hover {
  background-color: #356c77;
  border-radius: 0.8rem;
}

.toggle-button {
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 710px) {
  .navbar {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    /* display: none; */
    width: 100%;
    /* overflow: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; */
    opacity: 0.01;
    max-height: 0px;
    transition: opacity 0.3s, max-height 0.25s 0.25s;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    /* display: flex; */
    /* height: auto;
    opacity: 1; */
    opacity: 1;
    max-height: 999px;
    transition: opacity 3s, max-height 0.25s 0.25s;
  }
}

.logo {
  display: block;
  font-family: "Modern Antiqua", cursive;
  /* letter-spacing: 2px; */
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  font-size: clamp(1.5rem, 3vw, 2.3rem);
  margin: 0;
  margin-right: 2px;
  padding-top: 1.15rem;
  padding-bottom: 1.15rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.logo:hover {
}

/* navigation bar ends */

.text-choice {
  position: relative;
  background-color: #e6e9e9;
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  --gap: 2rem;
  flex-wrap: wrap;
  min-width: 100%;
}

.text-choice > * {
  margin: 0 0 0 var(--gap);
}

#info-icon {
  position: absolute;
  bottom: 18px;
  right: 32px;
  margin: 0;
  cursor: help;
}

#chapter-choice {
  background-color: #e6e9e9;
  gap: 0;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 120px;
}
section.text {
  padding: 15px;
}
@media (max-width: 420px) {
  #text > div {
    min-width: 280px;
  }
}
.contents {
  display: block;
}

ol {
  list-style-type: none;
}
.contents li {
  list-style: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 3em;
  letter-spacing: 2px;
  /* text-align: center; */
  color: #0b788f;
  margin-bottom: 0px;
}

.contents li:nth-child(n + 3):nth-child(-n + 25),
.contents li:nth-child(n + 3):nth-child(-n + 25) > ul > li {
  color: gray;
}

.contents ol > li:nth-child(1),
.contents li:nth-child(2),
.contents li:nth-child(26) {
  cursor: pointer;
}

.contents li > ul > li {
  color: var(--color);
  font-size: 1rem;
  letter-spacing: 2px;
  margin-bottom: 0.7rem;
}

.pali {
  font-family: "Gentium Book Basic", serif;
  font-style: italic;
  flex-basis: 70%;
  padding-left: 10%;
  margin-top: 1.8rem;
}

.lit {
  flex-basis: 45%;
}

.free {
  flex-basis: 45%;
  color: rgb(100, 100, 100);
}

.flex-wide {
  flex-basis: 70%;
}
/* checkboxes */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* appearance: none; */
  display: none;
  visibility: hidden;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.5em;
  /* padding-right: 1.5em; */
  cursor: pointer;
}
label[for="free"] {
  color: #545454;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  outline: 0;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.1em;
  left: 0.19em;
  font-size: 1.15em;
  line-height: 0.8;
  color: #422003;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}

[type="checkbox"]:not(:checked) + label[for="free"]:after,
[type="checkbox"]:checked + label[for="free"]:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.1em;
  left: 0.19em;
  font-size: 1.15em;
  line-height: 0.8;
  color: #422003;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #8f490b !important;
}

@media (max-width: 970px) {
  .text-choice {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
    /* gap: 1rem; */
    --gap: 1rem;
  }
  label[for="free"] {
    margin-bottom: 0.5rem;
  }
  #info-icon {
    bottom: 18px;
    right: 15px;
  }
}

@media (max-width: 380px) {
  #info-icon {
    bottom: 18px;
    right: 5px;
  }
  .toggle-button {
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    /* display: none; */
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 21px;
  }
  ol {
    padding-inline-start: 10px;
  }
}

@media (max-width: 330px) {
  #text > div {
    min-width: 260px;
  }
  #info-icon {
    top: 10px;
  }
}

.content-choice {
  background-color: #e6e9e9;
  padding: 1.2rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  align-items: baseline;
}

.content-choice {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  z-index: 10;
}

.content-choice span {
  color: #003742;
}

.content-choice span:hover {
  color: #837a51;
}

.fixed-bar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

section.shifted-down {
  margin-top: 8.4rem;
}

.article {
  padding-top: 20px;
  padding: 20px;
  margin-bottom: 60px;
}

section::after {
  display: block;
  position: absolute;
  left: calc(50% - 1rem);
  bottom: 3.5em;
  content: url("../images/Wheel.svg");
  height: 2rem;
  width: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #003742;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

footer img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.references li {
  list-style: square;
}

/* popup window*/

#anchor {
  position: fixed;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
  z-index: 10;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup_content {
  transform: scale(1);
  opacity: 1;
}
.popup_area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup_content {
  background-color: #fff;
  color: #000;
  max-width: 600px;
  padding: 30px;
  position: relative;
  transition: all 0.5s ease 0s;
  opacity: 0;
  transform: scale(0.5);
}

.popup_close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

a.ref {
  padding: 0 2px;
  text-decoration: none;
  color: var(--color);
  background-color: #0261741a;
  border-radius: 4px;
}

/* tippy */

.tooltipReference,
span[data-tippy-content],
span[data-critical-note] {
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tippy-box[data-animation="fade"][data-state="hidden"] {
  opacity: 0;
}
[data-tippy-root] {
  max-width: calc(100vw - 10px);
}
.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
}
.tippy-box i {
  font-size: 13px;
}

.tippy-box[data-placement^="top"] > .tippy-arrow {
  bottom: 0;
}
.tippy-box[data-placement^="top"] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow {
  top: 0;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}
.tippy-box[data-placement^="left"] > .tippy-arrow {
  right: 0;
}
.tippy-box[data-placement^="left"] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left;
}
.tippy-box[data-placement^="right"] > .tippy-arrow {
  left: 0;
}
.tippy-box[data-placement^="right"] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right;
}
.tippy-box[data-inertia][data-state="visible"] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}
.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}
.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

/* tippy light-yellow */

.tippy-box[data-theme~="light-yellow"] {
  color: #26323d;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: rgb(255, 242, 206);
}
.tippy-box[data-theme~="light-yellow"][data-placement^="top"]
  > .tippy-arrow:before {
  border-top-color: rgb(255, 242, 206);
}
.tippy-box[data-theme~="light-yellow"][data-placement^="bottom"]
  > .tippy-arrow:before {
  border-bottom-color: rgb(255, 242, 206);
}
.tippy-box[data-theme~="light-yellow"][data-placement^="left"]
  > .tippy-arrow:before {
  border-left-color: rgb(255, 242, 206);
}
.tippy-box[data-theme~="light-yellow"][data-placement^="right"]
  > .tippy-arrow:before {
  border-right-color: rgb(255, 242, 206);
}
.tippy-box[data-theme~="light-yellow"] > .tippy-backdrop {
  background-color: rgb(255, 242, 206);
}
.tippy-box[data-theme~="light-yellow"] > .tippy-svg-arrow {
  fill: rgb(255, 242, 206);
}

/* tippy light */

.tippy-box[data-theme~="light"] {
  color: #26323d;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: #fff;
}
.tippy-box[data-theme~="light"][data-placement^="top"] > .tippy-arrow:before {
  border-top-color: #fff;
}
.tippy-box[data-theme~="light"][data-placement^="bottom"]
  > .tippy-arrow:before {
  border-bottom-color: #fff;
}
.tippy-box[data-theme~="light"][data-placement^="left"] > .tippy-arrow:before {
  border-left-color: #fff;
}
.tippy-box[data-theme~="light"][data-placement^="right"] > .tippy-arrow:before {
  border-right-color: #fff;
}
.tippy-box[data-theme~="light"] > .tippy-backdrop {
  background-color: #fff;
}
.tippy-box[data-theme~="light"] > .tippy-svg-arrow {
  fill: #fff;
}

/* witness classes colors */

a.ref.witnesses {
  background-color: rgb(255, 242, 206);
}

.witnessA {
  color: teal;
  /* text-decoration: underline; */
}
span.witnessB {
  color: cornflowerblue;
  /* text-decoration: underline; */
}
.witnessC {
  color: tomato;
  /* text-decoration: underline; */
}
.witnessD {
  color: blueviolet;
  /* text-decoration: underline; */
}
.witnessE {
  color: olivedrab;
  /* text-decoration: underline; */
}
.witnessF {
  color: yellowgreen;
  /* text-decoration: underline; */
}
.witnessG {
  color: rgb(211, 197, 0);
  /* text-decoration: underline; */
}
.witnessH {
  color: orange;
  /* text-decoration: underline; */
}
.witnessI {
  color: palevioletred;
  /* text-decoration: underline; */
}
.witnessK {
  color: turquoise;
  /* text-decoration: underline; */
}

.witnessPTS {
  color: blue;
  /* text-decoration: underline; */
}
.witnessCS {
  color: red;
  /* text-decoration: underline; */
}

/* modal window */

.vmodal.open .modal-overlay,
.vmodal.open .modal-window {
  opacity: 1;
  z-index: 1000;
}

.vmodal.hide .modal-overlay,
.vmodal.hide .modal-window {
  opacity: 1;
  z-index: 1000;
}

.vmodal.hide .modal-window {
  transform: scale(0);
  opacity: 0;
}

.vmodal.hide .modal-overlay {
  background: rgba(0, 0, 0, 0);
}

.vmodal.open .modal-window {
  transform: scale(1);
  opacity: 1;
}

.vmodal.open .modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.modal-window,
.modal-overlay {
  opacity: 0;
  z-index: -1;
}

[data-note] {
  background-color: #0261741a;
  border-radius: 4px;
  padding: 0 2px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.4s ease;
}

.modal-window {
  /* width: 600px; */
  /* border-radius: 5px; */
  background: #fff;

  min-height: 5rem;
  margin: 20% auto;
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s ease;
}

.modal-header {
  padding: 0 0.6rem;
  display: flex;
  justify-content: flex-end;
}

.modal-close {
  cursor: pointer;
}

.modal-body {
  padding: 0rem 2rem 2rem;
}

.modal-body p {
  padding: 2rem;
}

.article-header {
  cursor: pointer;
}

.article-header.active {
  /* background-color: white; */
  font-weight: 700;
}

/* tabs  */

.tab-head {
  background-color: #e6e9e9;
  /* display: grid; */
  font-size: clamp(1rem, 2.3vw, 1.4rem);
  color: #003742;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 -5.7%;

  /* grid-template-columns: repeat(4, 1fr); */

  /* justify-content: space-around; */
}

.tab-title {
  /* border: 1px solid black; */

  /* padding: 1rem; */
  /* padding-left: 2rem; */
}
.tab-content {
  display: none;
}

.tab-active {
  display: block;
}
.tab-title.tab-active {
  border-bottom: none;
  background-color: #003742;
  color: white;
  padding: 0 1rem;
  /* font-size: clamp(1.7rem, 2.7vw, 1.9rem); */
}
a[href="#navbar"] {
  position: absolute;
  padding-top: 0.1rem;
  right: 3%;
  height: 0.6rem;
  width: 0.8rem;
  /* top: 8.2rem; */
}

/* a[href="#translation"]::after {
  content: url("/Abhidhammavatara/images/angle-double-up.svg");
  position: absolute;
  right: 1rem;
  height: 0.8rem;
  width: 0.8rem;
  color: red;
} */

.pdf-link::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f1c1";
  /* color: blue; */
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.arrow {
  cursor: pointer;
  position: relative;
}
.article-body {
  display: block;
}

.hidden {
  display: none;
}

.arrow::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  color: var(--color);
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  bottom: -0.2rem;
  left: 1rem;
  transition: transform 300ms ease-in-out;
}

/* location arrow unicode f124 */

.arrow.rotate::before {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0.2rem;
  transition: transform 300ms ease-in-out;
}

a[href="#navbar"]::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3bf";
  color: rgba(42, 112, 137, 0.3);
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.testimonia::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: clamp(1.18rem, 1.9vw, 1.4rem);
  content: "\f124";
  color: rgba(100, 47, 47, 0.5);
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.tippy-content > .testimonia::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: clamp(1rem, 1.7vw, 1.2rem);
  content: "\f124";
  color: rgba(100, 47, 47, 0.5);
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.tippy-content > .testimonia

{
  border-bottom: none;
  cursor: text;
}

span.testimonia {
  border-bottom: none;
  cursor: pointer;
}

.annotation[data-tippy-content] {
  background-color: rgba(109, 190, 201, 0.137);
  border-bottom: none;
}
