@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700");

@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700");

@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
}

html {
  font-size: 14px;
}

body {
  --color: #492607;
  background: #f5f5f5;
  color: var(--color);
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
}

i {
  font-family: "Gentium Book Basic", serif;
  font-size: 1.4rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #0b788f;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1;
  font-weight: 400;
  margin: 3em 0;
  flex-basis: 90%;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 3em;
  letter-spacing: 8px;
  text-align: center;
  color: #0b788f;
  flex-basis: 90%;
}

.references {
  position: relative;
  font-size: 1.3rem;
  margin-top: 6rem;
}

.refernces i {
  font-size: 1.2rem;
}

.img--cut {
  object-position: center;
}

.img-wrapper {
  height: 400px;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  /* white-space: nowrap; */
}
.img-wrapper > img {
  position: relative;
  display: block;
  height: 400%;
  width: auto;
}

.references::before {
  content: "";
  display: block;
  /* position: absolute; */
  background: #4220037e;
  height: 1px;
  width: 30%;
  /* top: -2em;
  left: 50%; */
  margin: 0 auto 3em;
}

a {
  color: #0b788f;
  outline: 0;
}

section {
  position: relative;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  width: 80%;
  margin: 50px auto;
  padding: 50px;
  padding-bottom: 150px;
}

@media (max-width: 600px) {
  section {
    width: 95%;
    padding: 20px;
    padding-bottom: 150px;
    margin: 20px auto;
  }
  h1 {
    letter-spacing: 3px;
    line-height: 1;
    font-weight: 400;
    margin: 3em 0;
  }
  .content-choice {
    font-size: 1rem;
  }
}

/* navigation bar */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #003742;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  margin-top: 20px;
  padding-left: 2px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  font-family: "Gentium Book Basic", serif;
  color: white;
  font-weight: 700;
  padding: 1em;
}

.navbar-links li:hover {
  background-color: #356c77;
  border-radius: 0.8rem;
}

.toggle-button {
  position: absolute;
  top: 1.6rem;
  left: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 670px) {
  .navbar {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    /* display: none; */
    width: 100%;
    /* overflow: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; */
    opacity: 0.01;
    max-height: 0px;
    transition: opacity 0.3s, max-height 0.25s 0.25s;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    /* display: flex; */
    /* height: auto;
    opacity: 1; */
    opacity: 1;
    max-height: 999px;
    transition: opacity 3s, max-height 0.25s 0.25s;
  }
}

.logo {
  font-family: "Modern Antiqua", cursive;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0.5rem;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* navigation bar ends */

.text-choice {
  /* position: fixed; */
  background-color: #e6e9e9;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#chapter-choice {
  /* position: fixed; */
  background-color: #e6e9e9;
  padding: 1rem;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 20rem;
  justify-content: space-around;
}

.pali {
  font-family: "Gentium Book Basic", serif;
  font-style: italic;
  flex-basis: 70%;
  padding-left: 5%;
}

.lit {
  flex-basis: 48%;
}

.free {
  flex-basis: 48%;
  color: rgb(100, 100, 100);
}
/* checkboxes */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* appearance: none; */
  display: none;
  visibility: hidden;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
}
label[for="free"] {
  color: #545454;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  outline: 0;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.1em;
  left: 0.19em;
  font-size: 1.15em;
  line-height: 0.8;
  color: #422003;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}

[type="checkbox"]:not(:checked) + label[for="free"]:after,
[type="checkbox"]:checked + label[for="free"]:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.1em;
  left: 0.19em;
  font-size: 1.15em;
  line-height: 0.8;
  color: #422003;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #8f490b !important;
}

@media (max-width: 940px) {
  .text-choice {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
  }
  label[for="free"] {
    margin-bottom: 0.5rem;
  }
}

.content-choice {
  background-color: #e6e9e9;
  padding: 1.2rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.content-choice {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.content-choice a {
  color: #18314f;
}

.content-choice a:hover {
  color: #8f490b;
}

.article {
  padding-top: 20px;
  padding: 20px;
  margin-bottom: 60px;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

section::after {
  display: block;
  position: absolute;
  left: calc(50% - 1rem);
  bottom: 3.5em;
  content: url("../images/Wheel.svg");
  height: 2rem;
  width: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #003742;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

footer img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

/* tooltip  */

span.tooltip {
  padding: 0 2px;
  border-bottom: 1px dotted;
  position: relative;
}

span.tooltip span {
  display: inline-block;
  font-size: 1rem;
  position: absolute;
  left: 15%;
  top: -3rem;
  padding: 5px;
  color: #18314f00;
  background-color: rgb(229, 215, 188, 0);
  border-width: 1px;
  border-radius: 4px;
  z-index: 6;
  transition-duration: 200ms;
}

span.tooltip:focus span,
span.tooltip:active span,
span.tooltip:hover span {
  color: #18314f;
  background: rgba(229, 215, 188, 1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.references li {
  list-style: square;
}

/* popup window*/

#anchor {
  position: fixed;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup_content {
  transform: scale(1);
  opacity: 1;
}
.popup_area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup_content {
  background-color: #fff;
  color: #000;
  max-width: 600px;
  padding: 30px;
  position: relative;
  transition: all 0.5s ease 0s;
  opacity: 0;
  transform: scale(0.5);
}

.popup_close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

a.ref {
  padding: 0 2px;
  text-decoration: none;
  color: var(--color);
  background-color: #0261741a;
  border-radius: 4px;
}
