@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,700");

@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700");

@import url("https://fonts.googleapis.com/css2?family=Modern+Antiqua");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  background: #f5f5f5;
  color: #18314f;
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
}

i {
  font-family: "Gentium Book Basic", serif;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #8bbeb2;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1;
  font-weight: 400;
  margin: 3em 0;
  flex-basis: 90%;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 3em;
  letter-spacing: 8px;
  text-align: center;
  color: #8bbeb2;
  flex-basis: 90%;
}

.references {
  position: relative;
  font-size: 0.8em;
  margin-top: 6rem;
}

.references::before {
  content: "";
  display: block;
  /* position: absolute; */
  background: #18314f50;
  height: 1px;
  width: 30%;
  /* top: -2em;
  left: 50%; */
  margin: 0 auto 3em;
}

a {
  color: #8bbeb2;
  outline: 0;
}

section {
  position: relative;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  width: 80%;
  margin: 50px auto;
  padding: 50px;
  padding-bottom: 150px;
}

@media (max-width: 600px) {
  section {
    width: 95%;
    padding: 20px;
    padding-bottom: 150px;
    margin: 20px auto;
  }
  h1 {
    letter-spacing: 3px;
    line-height: 1;
    font-weight: 400;
    margin: 3em 0;
  }
  .content-choice {
    font-size: 1rem;
  }
}

/* navigation bar */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #102135;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
  margin-top: 20px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  font-family: "Gentium Book Basic", serif;
  color: white;
  font-weight: 700;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
  border-radius: 0.8rem;
}

.toggle-button {
  position: absolute;
  top: 1.6rem;
  left: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 670px) {
  .navbar {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

.logo {
  font-family: "Modern Antiqua", cursive;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0.5rem;
  margin-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* navigation bar ends */

.text-choice {
  /* position: fixed; */
  background-color: #e6e9e9;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.chapter-choice {
  /* position: fixed; */
  background-color: #e6e9e9;
  padding: 1rem;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 20rem;
  justify-content: space-around;
}

.pali {
  font-family: "Gentium Book Basic", serif;
  font-style: italic;
  flex-basis: 70%;
  padding-left: 5%;
}

.lit {
  flex-basis: 48%;
}

.free {
  flex-basis: 48%;
  color: rgb(100, 100, 100);
}
/* checkboxes */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
}
label[for="free"] {
  color: #545454;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  /* box-shadow: inset 0 1px 3px rgba(0,0,0,.1); */
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.1em;
  left: 0.19em;
  font-size: 1.15em;
  line-height: 0.8;
  color: #394864;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}

[type="checkbox"]:not(:checked) + label[for="free"]:after,
[type="checkbox"]:checked + label[for="free"]:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.1em;
  left: 0.19em;
  font-size: 1.15em;
  line-height: 0.8;
  color: #545454;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted #8bbeb2;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #8bbeb2 !important;
}

@media (max-width: 670px) {
  .text-choice {
    flex-direction: column;
    align-items: flex-start;
  }
}

.content-choice {
  background-color: #e6e9e9;
  padding: 1.2rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.content-choice {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.content-choice a {
  color: #18314f;
}

.content-choice a:hover {
  color: #8bbeb2;
}

.article {
  padding-top: 20px;
  padding: 20px;
  margin-bottom: 60px;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

section::after {
  display: block;
  position: absolute;
  left: calc(50% - 1rem);
  bottom: 3.5em;
  content: url("../images/Wheel.svg");
  height: 2rem;
  width: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #102135;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

footer img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

/* tooltip  */

span.tooltip {
  padding: 0 2px;
  border-bottom: 1px dotted;
}

span.tooltip span {
  display: block;
  font-size: 1rem;
  position: absolute;
  left: 15%;
  margin: 20px 0 0 0px;
  padding: 3px;
  border-style: solid;
  color: #18314f00;
  border-color: rgba(153, 129, 24, 0);
  background: rgb(229, 215, 188, 0);
  border-width: 1px;
  border-radius: 4px;
  max-width: 60%;
  z-index: 6;
  transition-duration: 200ms;
}

span.tooltip:hover span {
  color: #18314f;
  background: rgba(229, 215, 188, 1);
  border-color: rgba(153, 129, 24, 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.references li {
  list-style: square;
}
