body {
  font-family: "Georgia";
  margin: 0px;
}

.bibleBg {
  position: absolute;
  width: 100%;
}

.icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 3px;
  vertical-align: middle;
  cursor: pointer;
}

.iconLabel {
  display: inline-block;
  height: 14px;
  color: #ddd;
  vertical-align: middle;
  padding: 0px 15px 0px 5px;
  cursor: pointer;
  font-size: 12px;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  border: 0px;
  padding: 0px;
}

.header {
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.container {
  text-align: center;
  position: relative;
}

.contentpanel {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
